*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --border-color:#0288D1
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.over-layer{
    background-color: black;
    opacity: 50%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.get-name{
    width: 300px;
    background-color: white;
    padding: 15px;
    margin: auto;
    border: 1px solid #BDBDBD;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}
.get-name >*:not(:last-child){
    margin-bottom: 8px;
}
.get-name input{
    width:calc( 100% - 15px);
    border: 1px solid;
    padding: 6px;
    outline: none;
    font-size: 15px;
}
.get-name .button{
    display: flex;
    justify-content: end;
}
.get-name .ok,.get-name .close{
    padding: 5px 8px;
    margin-left: 5px;
    cursor: pointer;
    width: 70px;
}
.get-name .ok{
    border: none;
    background-color: #1565C0;
    color: white;
}
.get-name .close{
    background-color: white;
    border: 1px solid;
}
.game{
    width: 70%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.game > *:not(:last-child){
    margin-bottom: 10px;
}
.show{
    background-color: #FAFAFA;
    padding: 10px 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border: 2px solid var(--border-color);
}
.show .hello span,.show .wrong span{
    color: #1565C0;
    font-weight: bold;
}

.timer{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.timer .count{
    color: var(--border-color);
}

.blocks-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.blocks-container .block{
    position: relative;
    transition: 0.3s;
    transform-style: preserve-3d;
} 
.block span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--border-color);
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}
.block .what{
    font-size: 50px !important;
}
.block img{
    display: block;
    width: 100%;
    transform: rotateY(180deg );
    backface-visibility: hidden;
}
.game .score{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}
.game .score span{
    color: var(--border-color);
}
.game .congrat{
    color: var(--border-color);
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: none;
}
.game .over{
    font-size: 30px;
    color: red;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}

.played{
    font-size: 20px;
    background-color: #FAFAFA;
    padding: 15px ;
    position: absolute;
    width: 142%;
    left: -21%;
    display: none;
}
.played .player:not(:last-child){
    margin-bottom: 10px;
}
.player{
    display: flex;
    justify-content: space-between;
    border-bottom: #eee 1px solid;
    display: none;
}
.player>*{
    width: 25%;
}
.player>*:not(:first-child){
    padding: 5px 10px;
}
.player * span ,.player .name{
    color: var(--border-color);
    font-weight: bold;
}